@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro');

html, body, #root {
  overflow: hidden;
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.container {
  font-family: 'Roboto';
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  display: flex;
  flex: 0.8;
}

.body {
  flex: 9;
}
